{% extends "base.html" %} {% block title %}django-todo{% endblock %}

{% block content %}

  <h1>django-todo</h1>

  <p>
    django-todo is a
    <i>pluggable</i>, multi-user, multi-group, multi-list todo and ticketing system - a reusable app designed to be dropped into any existing Django project. Users can create tasks for themselves or for others, or create Unassigned tasks that will be filed into a specific list (public tickets).
  </p>

  <p>
    To access the application you need to log in.
  </p>

  <p>
    {% if user.is_authenticated %}
      You are already logged in.
    {% else %}
      For the first login use the admin credentials created earlier with <i>./manage.py createsuperuser</i>.
      Then create appropriate users and groups.
      <div>
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
      </div>
    {% endif %}
  </p>

{% endblock %}
